.backContainer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 99;
}
.backButton {
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  background-color: var(--color-light-purple);
  color: var(--color-dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  z-index: 99;
  transform: scale(0.75);
}
.arrowIconCircle {
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--color-brand-green);
  border-radius: 1.7rem;
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}
.arrowBackIcon {
  width: 2.25rem;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .backContainer {
    padding: 1rem;
    margin: 1rem;
  }

  .backButton {
    position: fixed;
    top: 1rem;
    left: 1rem;
    transform: scale(0.65);
    transform-origin: top left;
  }
}

@media (max-height: 576px) {
  .backContainer {
    padding: 0;
  }

  .backButton {
    position: fixed;
    top: 1rem;
    left: 1rem;
    transform: scale(0.55);
    transform-origin: top left;
  }
}
