.backContainer {
  position: absolute;
}
.backButton {
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  background-color: var(--color-brand-purple);
  color: var(--color-light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.arrowIconCircle {
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--color-brand-green);
  border-radius: 1.7rem;
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}
.arrowBackIcon {
  width: 2.25rem;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .backButton {
    transform: scale(0.75);
    transform-origin: left;
  }
}

@media (max-height: 576px) {
  .backButton {
    transform: scale(0.75);
  }
}
