.finishContainer {
  max-width: 100vw;
  margin-top: 5rem;
  background-color: var(--color-light-purple);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bungee", sans-serif;
}

.finishContainer p {
  font-size: 2rem;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

.finishContainer h2 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
  line-height: 1;
  color: var(--color-brand-purple);
}

.leaderboard {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 78%;
}

.leaderboard h3 {
  margin-bottom: 10px;
}

.leaderboardGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 20px;
}

.leaderboardHeader,
.leaderboardRow {
  display: contents;
}

.leaderboardHeader > div,
.leaderboardRow > div {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.leaderboardHeader > div {
  background-color: var(--color-brand-blue);
  color: var(--color-light-white);
  font-size: 1.5rem;
}

.leaderboardRow:nth-child(even) > div {
  background-color: var(--color-light-yellow);
}

.videoGrid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(15rem, 1fr)
  ); /* Each column has a minimum width of 250px and will expand to fill the available space */
  gap: 1.5rem; /* Gap between grid items */
}

.videoContainer {
  text-align: left;
  padding: 1rem;
}

.videoContainer iframe {
  width: 100%; /* Ensure the video fills its container */
  height: 12rem; /* Set initial height to 0 */
  /* padding-top: 56.25%;  16:9 aspect ratio */
  border: none;
}

.videoContainer h4 {
  font-family: "Montserrat", sans-serif;
  max-height: 1.8rem;
}

@media (max-width: 576px) {
  .finishContainer {
    margin-top: 12rem;
  }
  .finishContainer p {
    font-size: 1.25rem;
  }
  .finishContainer h2 {
    font-size: 6rem;
  }
}

@media (max-height: 576px) {
  .finishContainer p {
    font-size: 1.25rem;
  }
  .finishContainer h2 {
    font-size: 6rem;
  }
}
