.finishContainer {
  max-width: 100vw;
  margin-top: 5rem;
  background-color: var(--color-light-purple);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bungee", sans-serif;
}

.finishContainer p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.finishContainer h2 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  line-height: 1;
  color: var(--color-brand-purple);
}
.highScore {
  margin-top: 1.5rem;
}
.highScore h3 {
  font-size: 2rem;
  color: var(--color-brand-blue);
}
.inputForm {
  display: flex;
  max-height: 6rem;
}
.input {
  margin: 0.75rem;
  padding: 0.75rem;
  width: 60%;
  background-color: white;
  border-radius: 2rem;
  border: 0.25rem solid #f8f0e7;
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark-purple);
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  transform: translateY(0.3rem);
}
.input:focus {
  border: 0.15rem solid #fde5cc;
  outline: none;
  background-color: white;
  border: 0.25rem solid var(--color-brand-blue);
}
.button {
  cursor: pointer;
  margin: 1.5rem;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  background-color: var(--color-brand-purple);
  color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.alert p {
  text-align: left;
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--color-brand-red);
}

.videoGrid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.videoContainer {
  text-align: left;
  padding: 3rem;
}

.videoContainer iframe {
  width: 100%;
  height: 105%;
  border: none;
}

.videoContainer h4 {
  font-family: "Montserrat", sans-serif;
  max-height: 1.8rem;
}

@media (max-width: 576px) {
  .finishContainer p {
    font-size: 1.25rem;
  }
  .finishContainer h2 {
    font-size: 5rem;
  }

  .input {
    margin: 0.5rem;
    transform: none;
  }
  .button {
    margin: 0;
    transform: scale(0.85);
    transform-origin: left;
  }
}

@media (max-height: 576px) {
  .finishContainer {
    margin-top: 4rem;
  }
  .finishContainer p {
    font-size: 1.25rem;
  }
  .finishContainer h2 {
    font-size: 5rem;
  }

  .input {
    margin: 0.5rem;
    transform: none;
  }
  .button {
    margin: 0;
    transform: scale(0.85);
    transform-origin: left;
  }
}
