.footer {
  height: 5rem;
  background-color: var(--color-dark-purple);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer a,
.footer p {
  color: #5b4e9c;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.footer a {
  cursor: pointer;
}
