.gameContainer {
  position: relative;
  width: 64rem;
  max-width: 90vw;
  height: 80vh;
  height: 80dvh;
  max-height: 89vh;
  max-height: 89dvh;
  margin: 0 auto;
}

.mainbox {
  margin-top: 1rem;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: var(--color-light-yellow);
  border-radius: 1rem;
  border: 0.2rem solid;
  border-color: rgb(235, 231, 225);
}
