.headerContainer {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  max-width: 12rem;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.stats {
  background-color: var(--color-light-yellow);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.25rem;
  margin-right: 3rem;
  border-radius: 1rem;
}
.stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.75rem;
}
.stats .timer {
  width: 4rem;
}

.title {
  font-size: 1rem;
}

.statText {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 1;
}

/* Media query for screen width less than 400px */
@media (max-width: 576px) {
  .headerContainer {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align */
    height: auto;
    margin: 0;
  }

  .logo {
    margin-top: 2rem;
    margin: 1rem;
  }
  .logo img {
    max-width: 82%;
    height: auto;
  }
  .stats {
    transform: scale(0.72); /* Scale down to 80% of its original size */
    transform-origin: top; /* Keep the top of the container fixed */
  }
}

@media (max-height: 576px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-top: 2.5rem;
    padding: 0;
  }
  .logo {
    max-width: 15vw;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .stats {
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 3rem;
    width: 8rem;
    height: auto;
    margin-right: 1rem;
  }
}
