.startScreenContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  background-image: url("back-tile.png");
  background-repeat: repeat;
  text-align: center;
}

.startScreenContent {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreenInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.startScreenContent img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.centerContent {
  max-width: 50%;
  text-align: center;
}

.centerContent img {
  max-width: 75%;
  height: auto;
}

.imageLeft {
  transform: translateY(-3rem);
  max-width: 20%;
}

.imageRight {
  transform: translateY(7rem);
  max-width: 20%;
}

h2 {
  font-weight: 400;
}

@media (max-width: 576px) {
  .startScreenInfo {
    display: flex;
    flex-direction: column;
  }
  .imageLeft {
    transform: none;
    max-width: 33%;
  }
  .imageRight {
    display: none;
  }
}

@media (max-height: 576px) {
  .centerContent img {
    max-width: 55%;
    height: auto;
  }

  .imageLeft {
    transform: translateY(-3rem);
    max-width: 15%;
  }

  .imageRight {
    transform: translateY(7rem);
    max-width: 15%;
  }
}
