.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.bigButton {
  cursor: pointer;
  margin: 2rem;
  margin-top: 4rem;
  width: 22rem;
  height: 5.5rem;
  border-radius: 2.75rem;
  border: 0;
  background-color: var(--color-brand-purple);
  color: var(--color-light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 0.3rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.82rem;
  line-height: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.arrowIconCircle {
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--color-brand-green);
  border-radius: 2.4rem;
  display: flex;
  justify-content: center;
}
.arrowIcon {
  width: 2.82rem;
}

@media (max-width: 768px) {
  .bigButton {
    margin: 1rem;
    transform: scale(0.75);
    width: 20rem;
  }
}

@media (max-height: 576px) {
  .buttonContainer {
    margin: 0;
    padding: 0;
  }
  .bigButton {
    margin: 0.2rem;
    transform: scale(0.65);
  }
}
